* {
    margin: 0;
    padding: 0;
   color: white;
   font-family: 'Shadows Into Light Two', cursive;
}
/* General styles */
body {
  font-size: 16px;
  line-height: 1.5;
/*   margin: 0; */
 overflow-x: hidden;
}
.burger-menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.burger-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.burger-icon .bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: white;
  transition: 0.3s;
}

.navimg ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navimg li {
  margin: 0 10px;
}

.imgfon {
  background-image: url("https://images.unsplash.com/photo-1505253149613-112d21d9f6a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 0 20px; /* додано */
}
.burger-menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px #000;

}

/* Hero section styles */
.imgfon2 {
  background-image: url("https://images.unsplash.com/photo-1503153888445-cd465dba5c3a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  width: 100vw;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #1E1F20;
}

h2 {
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px #000;
  align-items: center;
  text-align: center;
  padding: 10px;
}

/* About section styles */
#services{
  background-color: #1E1F20;
    }
    #about{
 background-color: #1E1F20;
    }

.about {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #1E1F20;
}

.about-text {
  max-width: 800px;
  margin: 0 auto;
}

.about-text p {
  font-size: 18px;
  margin-bottom: 20px;
}
.video-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

video {
  width: 50%;
  margin-right: 20px;
  border-radius: 10px;
}

.video-text {
  width: 50%;
}


/* Gallery section styles */
#gallery{
background-color: #1E1F20;
}
.image-row {
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #1E1F20;
}

.image-row img {
  width: 30%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}
/* Contact section styles */
/* Стилі для контейнера */
.wrappere {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1E1F20;
}

.containere {
  width: 60%;
  text-align: center;
}

.form-containere {
  width: 60%;
}

.image-containere {
  width: 40%;
  display: flex;
  justify-content: center;
}

.image-containere img {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 10px;
}
/* Стилі для списку контактної інформації */
#contacts{
  background-color: #1E1F20;
}
.containere p{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  text-align: center;
}

.containere a {
  text-align: center;
  font-size: 1.2rem;
   list-style: none;
  font-weight:lighter ;
  text-transform: capitalize;
  
}
/* Стилі для іконок в списку контактної інформації */
.containere p{
  margin-left: 40px;
  color: #fff;
  font-size: 1.2rem;
  background-color: #1E1F20;
}

/* Стилі для текстових полів */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #1E1F20;
}

/* Стилі для кнопки відправлення форми */
.button {
  background-color: #797E82;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .burger-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
  }

  .burger-menu li {
    margin-bottom: 10px;
  }

  .burger-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .burger-icon {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .burger-icon .bar {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: 0.3s;
  }

  .burger-icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger-icon.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burger-icon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }


.navimg ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  padding: 80px 0 0 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  background-color: #1E1F20;
}

.navimg ul.active {
  transform: translateX(0);
}

.navimg li {
  margin: 20px 0;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

a:hover {
  color: #ccc;
}
  #main {
    position: relative;
  }

.container {
  max-width: 100%;
  padding: 0 10px;
}

  h1 {
    font-size: 2rem;
  }
  .about {
      flex-direction: column;
    }

    h2 {
      font-size: 1.1rem;
    }

    h3{
      font-size: 1rem;
    }

    p{
      font-size: 0.8rem;
    }
  
.video-container {
    flex-direction: column;
  }
  
  video {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .video-text {
    width: 100%;
  }

.image-row {
display: block;
padding: 15px;
}

.image-row img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}


  .wrappere {
    flex-direction: column;
  }
  
  .containere {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-containere {
    width: 100%;
  }
  
  .image-containere {
    width: 100%;

  }

}
